{% extends 'base.html' %}

{% load static %}
{% block title %}SIGNIN{% endblock %}


{% block main %}

    <div class="container" style="text-align: center; margin-top: 7%; margin-bottom: 7%;">

        <form method="POST"> {% csrf_token %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <div style="color: red;">{{error}}</div><br>
                {% endfor %}
            {% endfor %}
             


            {{form.username}}<br>
            
            {{form.password}}<br>

            <input type="submit" value="SIGN IN" class="SignupButton">
        </form>


    </div>
    </div><br>


{% endblock %}