{% extends 'base.html' %}

{% load static %}
{% block title %}SIGNUP{% endblock %}


{% block main %}



    <div class="container" style="text-align: center; margin-top: 7%; margin-bottom: 7%;">

        <form method="POST"> {% csrf_token %}

            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <div style="color: red;">{{error}}</div><br>
                {% endfor %}
            {% endfor %}

            {{form.username}}<br>

            {{form.password1}}<br>

            {{form.password2}}<br>

            {{form.email}}<br>

            <input type="submit" value="SIGN UP" class="SignupButton">
        </form>


    </div>
    </div><br>





{% endblock %}