<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles2.css">
    <link type="text/css" rel="stylesheet" href="styles2.css" />

</head>

<body style="background-color: #303852;">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid" style="margin-right: 7%; margin-left: 7%;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
                <a class="navbar-brand" href=" # ">The Cinarta Kid</a>
            </div>
            <div class="collapse navbar-collapse " id="myNavbar ">
                <ul class="nav navbar-nav ">
                    <li><a style="font-size: 10px; color: white;" href="# ">FEED</a></li>
                    <li><a style="font-size: 10px; color: white;" href="# ">SIGNUP</a></li>
                    <li><a style="font-size: 10px; color: white;" href="# ">SIGNIN</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right ">
                    <li>
                        <a style="padding-left: 0px;" href="#Instagram"> <img src="/instagram.svg" height="auto" width="12px" ;> </a>
                    </li>
                    <li>
                        <a style="padding-left: 0px;" href="#Website"> <img src="/WEB.svg.jpg" height="auto" width="24px" ;></a>
                    </li>
                    <li>
                        <a style="padding-left: 0px;" href="#Profile"> <img src="/user.svg" height="auto" width="12px" ;></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div class="container" style="text-align: center; margin-top: 7%; margin-bottom: 7%;">

        <form action="">

            <input type="text" name="username" placeholder="Username" class="SignupInputs"><br>

            <input type="password" name="password" placeholder="Password" class="SignupInputs"><br>

            <input type="email" name="email" placeholder="error@mail.com" class="SignupInputs"><br>

            <input type="submit" value="SIGN UP" class="SignupButton">
        </form>


    </div>
    </div><br>


    <footer class="navbar navbar-inverse" style="padding: 0;margin-bottom: 3%; margin-top: 3%;">
        <div class="container-fluid" style="margin-right: 7%; margin-left: 7%;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
              </button>
                <a class="navbar-brand" href=" # ">The Cinarta Kid</a>
            </div>
            <div class="collapse navbar-collapse " id="myNavbar ">
                <ul class="nav navbar-nav ">
                    <li><a style="font-size: 10px; color: white;" href="# ">FEED</a></li>
                    <li><a style="font-size: 10px; color: white;" href="# ">SIGNUP</a></li>
                    <li><a style="font-size: 10px; color: white;" href="# ">SIGNIN</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right ">
                    <li>
                        <a style="padding-left: 0px;" href="#Instagram"> <img src="/instagram.svg" height="auto" width="12px" ;> </a>
                    </li>
                    <li>
                        <a style="padding-left: 0px;" href="#Website"> <img src="/WEB.svg.jpg" height="auto" width="24px" ;></a>
                    </li>
                    <li>
                        <a style="padding-left: 0px;" href="#Profile"> <img src="/user.svg" height="auto" width="12px" ;></a>
                    </li>

                </ul>
            </div>
        </div>
    </footer>


</body>

</html>