{% extends 'base.html' %}
{% load static %}

{% block headstyle %}
  <style>
    .pb-cmnt-container {
        font-family: Lato;
        margin-top: 100px;
    }

    .pb-cmnt-textarea {
        resize: none;
        padding: 20px;
        height: 130px;
        width: 100%;
        border: 1px solid #F2F2F2;
    }
  </style>
{% endblock %}

{% block title %}نمایش سریع{% endblock %}

{% block main %}
  <section class="mainbody">
              
       



<!--***********************************************************mahsoolat***********************************************************-->

<div class="container" style=" width: 80%;
margin: 0 auto;
padding: 20px;
background:rgb(255, 250, 250);text-align:right;">
   <th>
 <div class="row p-5">
   <div class="col-md-6">
   <img src="{{book.photo.url}}"  style="width: 100%;height: 100%;"    width=20% height=20%>
   </div>
   <div class="col-md-6">
   <div class="text" >
    
    <h4>کتاب {{book.title}}</h4>
    <p>نویسنده:{{book.author}}</p>
    <P>تعداد صفحات:{{book.number_of_pages}}</P>
    <P>قیمت:70000 تومان</P>
   </div>

   <div style="text-align:right;">
    <button type="button" class="btn btn-outline-danger">قبل</button>
    <button type="button" class="btn btn-outline-danger">افزودن به سبد خرید</button>
  </div>
  </div>

</div>
  <br>
  <br>

  <div class="text-center">
 
    <h4>به ما امتیاز دهید:)</h4>

<ul class="rating">
  <li class="fa fa-star"></li>
  <li class="fa fa-star"></li>
  <li class="fa fa-star"></li>
  <li class="fa fa-star"></li>
  <li class="fa fa-star disable"></li>
</ul>

 
  </th>



</div>
</div>

<hr>

<br>
<br>




<!--***********************************************************mahsoolat*********************************************************-->

<!--comment-->

<div class="container mt-5">
  <div class="d-flex justify-content-center row">
      <div class="col-md-8">
          <div class="d-flex flex-column comment-section">
            {% for comment in book.comments.all %}

              <div dir="rtl"  class="bg-white p-2">
                  <div class="d-flex flex-row user-info"><img class="rounded-circle" src="{% static 'img/آواتارکامنت.jpg' %}" width="40">
                      <div class="d-flex flex-column justify-content-start ml-2"><p class="d-block font-weight-bold name ">{{comment.user.username}}</span><span class="date text-black-50"></span></div>
                  </div>
                  <div class="mt-2">
                      <p class="comment-text" style="text-align:right;">{{comment.content}}</p>
                  </div>
              </div>
              <div class="bg-white">
                  <div class="d-flex flex-row fs-12">
                    <span id="like-count-{{comment.pk}}">{{comment.likes.count}}</span>
                    <a class="like-dislike-btn" data-pk='{{comment.pk}}' href="{% url 'gallery:like_or_dislike' comment.pk %}">
                      {% if request.user in comment.likes.all %}
                        <div class="like p-2 cursor"><i id="like-icon-{{comment.pk}}" class="fa fa-thumbs-o-up" style="color: red;"><span class="ml-1">DisLike</span></i></div>
                      {% else %}
                        <div class="like p-2 cursor"><i id="like-icon-{{comment.pk}}" class="fa fa-thumbs-o-up" style="color: blue;"><span class="ml-1">Like</span></i></div>
                      {% endif %}
                    </a>
                    
                  </div>
              </div>
            {% endfor %}





  
              <div dir="rtl"  class="bg-light p-2">
                  <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="{% static 'img/آواتارکامنت.jpg' %}"   width="40"><textarea class="form-control ml-1 shadow-none textarea" style="text-align:right;" placeholder="نظر خودرا تایپ کنید"></textarea></div>
                  <div class="mt-2 text-right"><button class="btn btn-warning" type="button">ثبت</button>
              </div>
          </div>
      </div>
  </div>
</div>
</div>

<!--comment-->

<br>
<br>

<hr>

{% endblock %}


{% block script %}

 $(".like-dislike-btn").click(function(e){
    e.preventDefault();
    var id = $(this).attr("data-pk");
    $('#like-icon-' + id).attr("class", "fa fa-spinner fa-spin");

    var url = $(this).attr("href");
    $.ajax({
      url: url,
      success: function(s) {
        if(s.status==true){
          //
          $('#like-count-' + id).html(s.likes);
          if (s.user_in_likes){ $('#like-icon-' + id).attr("class", "fa fa-thumbs-o-down");$('#like-icon-' + id).css('color', 'red'); $('#like-icon-' + id).text('DisLike');}
          else{                 $('#like-icon-' + id).attr("class", "fa fa-thumbs-o-up");$('#like-icon-' + id).css('color', 'blue'); $('#like-icon-' + id).text('Like');}
        }
        else if(s.status == 'not_login'){
          //$('#like-icon-' + id).attr("class", "fa fa-thumbs-o-up");
          //show_alert_message("you must login first.", 'danger')
        }
        else{console.log('e2')}
      },
      error: function(error) {
        console.log('e1');
        //$('#like-icon-' + id).attr("class", "fa fa-thumbs-o-up");
      }
    })
  })
{% endblock %}