{% extends 'base.html' %}
{% load static %}
{% block main %}
        <section class="mainbody">
              
       







<!--***********************************************************mahsoolat***********************************************************-->


<section class="mahsoolat">
  <h3 style="color:rgb(175, 12, 12);text-align: center;text-decoration:underline;">فروش ویژه</h3>
  

<br>

<div class="container">
  
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a href="#">
                        <img class="pic-1" src="assets/img/پوشه ویژه/8.Jpg">
                        <img class="pic-2" src="assets/img/پوشه ویژه/8.Jpg">
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="نمایش"><i class="fa fa-eye"></i></a></li>
                    
                        <li><a href="#" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">حراج</span>
                    <span class="product-discount-label">-10%</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">کتاب عامه پسند</a></h3>
                  
                    <div class="price">
                        40000
                        <span>50000</span>
                    </div>
                    <a class="add-to-cart" href="">افزودن به سبد خرید</a>
                </div>
            </div>
        </div> 
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a href="#">
                        <img class="pic-1" src="assets/img/پوشه ویژه/7.Jpg">
                        <img class="pic-2" src="assets/img/پوشه ویژه/7.Jpg">
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="نمایش"><i class="fa fa-eye"></i></a></li>
                    
                        <li><a href="#" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                 
                    <span class="product-new-label">حراج</span>
                    <span class="product-discount-label">-10%</span>
                </div>
                <div class="product-content">
                  <h3 class="title"><a href="#">کتاب دختری با گوشواره های مروارید</a></h3>
                 
                    <div class="price">
                         30000
                        <span>35000</span>
                    </div>
                    <a class="add-to-cart" href="">افزودن به سبد خرید</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a href="#">
                        <img class="pic-1" src="assets/img/پوشه ویژه/6.Jpg">
                        <img class="pic-2" src="assets/img/پوشه ویژه/6Jpg">
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="نمایش"><i class="fa fa-eye"></i></a></li>
                    
                        <li><a href="#" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">حراج</span>
                    <span class="product-discount-label">-10%</span>
                </div>
                <div class="product-content">
                  <h3 class="title"><a href="#">کتاب  یک عاشقانه آرام</a></h3>
               
                    <div class="price">
                        35000
                        <span>42000</span>
                    </div>
                    <a class="add-to-cart" href="">افزودن به سبد خرید</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a href="#">
                        <img class="pic-1" src="assets/img/پوشه ویژه/11.Jpg">
                        <img class="pic-2" src="assets/img/پوشه ویژه/11.Jpg">
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="نمایش"><i class="fa fa-eye"></i></a></li>
                    
                        <li><a href="#" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">حراج</span>
                    <span class="product-discount-label">-10%</span>
                </div>
                <div class="product-content">
                  <h3 class="title"><a href="#">کتاب من گنجشک نیستم</a></h3>
        
                    <div class="price">
                        24000 
                        <span>29000</span>
                    </div>
                    <a class="add-to-cart" href="">افزودن به سبد خرید</a>
                </div>
            </div>
        </div>
    </div>
</div>
  
<br>


<br>

<div class="container">
  
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a href="#">
                        <img class="pic-1" src="assets/img/پوشه ویژه/12.Jpg">
                        <img class="pic-2" src="assets/img/پوشه ویژه/12.Jpg">
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="نمایش"><i class="fa fa-eye"></i></a></li>
                    
                        <li><a href="#" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">حراج</span>
                    <span class="product-discount-label">-10%</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">کتاب یادداشت های شیطان</a></h3>
                  
                    <div class="price">
                        35000
                        <span>40000</span>
                    </div>
                    <a class="add-to-cart" href="">افزودن به سبد خرید</a>
                </div>
            </div>
        </div> 
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a href="#">
                        <img class="pic-1" src="assets/img/پوشه ویژه/5.Jpg">
                        <img class="pic-2" src="assets/img/پوشه ویژه/5.Jpg">
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="نمایش"><i class="fa fa-eye"></i></a></li>
                    
                        <li><a href="#" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                 
                    <span class="product-new-label">حراج</span>
                    <span class="product-discount-label">-10%</span>
                </div>
                <div class="product-content">
                  <h3 class="title"><a href="#">کتاب انگار خودم نیستم</a></h3>
                 
                    <div class="price">
                         45000
                        <span>53000</span>
                    </div>
                    <a class="add-to-cart" href="">افزودن به سبد خرید</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a href="#">
                        <img class="pic-1"src="assets/img/پوشه ویژه/9.Jpg">
                        <img class="pic-2" src="assets/img/پوشه ویژه/9.Jpg">
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="نمایش"><i class="fa fa-eye"></i></a></li>
                    
                        <li><a href="#" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">حراج</span>
                    <span class="product-discount-label">-10%</span>
                </div>
                <div class="product-content">
                  <h3 class="title"><a href="#">کتاب رویای تبت</a></h3>
               
                    <div class="price">
                        35000
                        <span>40000</span>
                    </div>
                    <a class="add-to-cart" href="">افزودن به سبد خرید</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a href="#">
                        <img class="pic-1" src="assets/img/پوشه ویژه/10.Jpg">
                        <img class="pic-2" src="assets/img/پوشه ویژه/10.Jpg">
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="نمایش"><i class="fa fa-eye"></i></a></li>
                    
                        <li><a href="#" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">حراج</span>
                    <span class="product-discount-label">-10%</span>
                </div>
                <div class="product-content">
                  <h3 class="title"><a href="#">کتاب روی ماه خدا را ببوس </a></h3>
        
                    <div class="price">
                        24000 
                        <span>29000</span>
                    </div>
                    <a class="add-to-cart" href="">افزودن به سبد خرید</a>
                </div>
            </div>
        </div>
    </div>
</div>
  
<br>







       
   </section>  
  



    
<br>
<br>
<br>


<!--***********************************************************mahsoolat*********************************************************-->



<!--pagenation-->

<nav aria-label="Page navigation example bg-light">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous"   style="color:rgb(175, 12, 12);">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link"   style="color:rgb(175, 12, 12);"   href="#">1</a></li>
          <li class="page-item"><a class="page-link"   style="color:rgb(175, 12, 12);"   href="#">2</a></li>
          <li class="page-item"><a class="page-link"   style="color:rgb(175, 12, 12);"   href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next"    style="color:rgb(175, 12, 12);" >
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
    </ul>
  </nav>


<!--pagenation-->


{% endblock %}