{% extends 'base.html' %}
{% load static %}
{% block main %}

<div class="container" style="margin-top: 10%; margin-bottom: 10%">
    <div class="row" style="text-align: center;">

        <div class="col-sm-6 postpage-picture" style="text-align: center; background-color: black; float: right; height: 100%; margin-bottom: 10%;"><img src="/cinarta-f1-transparent.png" width="200" height="200"></div>

        <div class="col-sm-6">
            
            <div class="col-sm-12" style="color: white; text-align: left; padding: 0; width: 100%; margin: 0;padding: 0; margin-bottom: 6%;">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: fit-content; font-size: 150%;"><b>Excepteur sint occaeuiecat cupidatat.</b></td>
                        <td style="text-align: right;"><img src="/heart.svg" style="width: 15px;margin-top: -10%;"></td>
                        <td style="text-align: left; padding: 0;font-size: 15px; color: #F26FBA;width: fit-content;">35</td>
                      </tr>
                </table>

            </div>
            <div class="col-sm-12" style="color: white; text-align: left; padding: 0; width: 100%; margin: 0;padding: 0; margin-bottom: 13%;">
                <div style="text-align: left; font-size: 70%;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in uienply voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat norin proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
                dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in uienply voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat norin proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>

            <div class="col-sm-12" style="width: 100%; margin: 0;padding: 0; margin-bottom: 5%;">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: fit-content; text-align: left;"><a style="color: #F26FBA;">Comment</a></td>
                        <td style="text-align: right; padding: 0;font-size: 15px; width: fit-content;"><a style="color: #F26FBA;">Like</a></td>
                      </tr>
                </table>
            </div>

            <div class="col-sm-12" style="width: 100%; margin: 0;padding: 0; height: 100px;">
                <input type="text" style="position: absolute;
                        display: block;
                        top:0;
                        left:0;
                        margin: 0;
                        height: 100%;
                        width: 100%;
                        border: none;
                        padding: 10px;
                        box-sizing: border-box;" placeholder="Write a Response...">
            </div>
              
        </div>
        
        


    </div>
</div>

{% endblock %}