{% extends 'base.html' %}

{% load static %}
{% block title %}MAIN PAGE{% endblock %}


{% block main %}

    <div class="container" style="background-color: white; margin-top: 2%; margin-bottom: 2%;">
        <div class="css-selector row" style='text-align: center;'>

            <div class="col-sm-3"></div>
            <div class="col-sm-6"><img src="{% static 'img/cinarta-f1-transparent.png' %}" width="200" height="200"></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <div id="ele" data-alerts="alerts" data-titles='{"error": "<em>Danger Title!</em>"}' data-fade="5000" ></div>


    <div class="container">
    <div class="card-columns">
            
        {% for post in object_list %}
            <div class="card bg-dark text-white zoom">
                <img class="card-img" src="{{post.photo.url}}" alt="{{post.title}}">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <div class="card-header bg-transparent">
                        <a href={% url 'gallery:detail' post.slug %}><h4 class="card-title"><small>{{post.title}}</small></h4></a>
                    </div>
                    <div class="card-body bg-transparent">
                        <h6 class="card-subtitle"><small>{{post.description}}</small></h6>
                    </div>
                    <div class="card-footer ">
                        <p><small>{{post.created}}</small></p>
                        <a class="like-dislike-btn" data-pk='{{post.pk}}' href="{% url 'gallery:like_or_dislike' post.pk %}">
                            {% if request.user in post.likes.all %}
                                <i id="like-icon-{{post.pk}}" class="fas fa-heart" style="color: red;"></i>
                            {% else %}
                                <i id="like-icon-{{post.pk}}" class="fas fa-heart" style="color: white;"></i> <!-- far -->
                            {% endif %}
                        </a>
                        <span id="like-count-{{post.pk}}">{{post.likes.count}}</span>
                        <a href="{% url 'gallery:detail' post.slug %}"><i class="fas fa-comment-alt"></i></a><span id="like-count-{{post.pk}}">  {{post.comments.all.count}}</span>
                    </div>

                </div>
            </div>
            
        {% endfor %}
    </div>
    {% if page_obj.has_previous %}
        <a href="{% url 'gallery:posts' %}?page={{page_obj.previous_page_number}}" style="margin-right: 10px;">
            previous page <i class="fas fa-arrow-left"></i>
        </a>
    {% endif %}
    {% if page_obj.has_next %}
        <a href="{% url 'gallery:posts' %}?page={{page_obj.next_page_number}}" style="margin-left: 10px;">
            next page <i class="fas fa-arrow-right"></i>
        </a>
    {% endif %}
    </div>

    
    <!-- <div class="container">
        <div class="row ">
            <div class="col-sm-3 index-posts">
                <h3 style="font-size: 20px;">Excepteur sint.</h3>
                <div style="margin-bottom: 80%; font-size: 14px;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</div>
                <div class="row">
                    <div class="col-sm-4" style="font-size: 16px;"><img src="../static/favorite-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">120</div>
                    <div class="col-sm-4" style="font-size: 16px;"><img src="../static/comment-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">20</div>
                    <div class="col-sm-4" style="font-size: 16px;">SHARE</div>
                </div>
            </div>
            <div class="col-sm-3 index-posts">
                <h3 style="font-size: 20px;">Excepteur sint.</h3>
                <div style="margin-bottom: 80%; font-size: 14px;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</div>
                <div class="row">
                    <div class="col-sm-4" style="font-size: 16px;"><img src="../static/favorite-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">120</div>
                    <div class="col-sm-4" style="font-size: 16px;"><img src="../static/comment-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">20</div>
                    <div class="col-sm-4" style="font-size: 16px;">SHARE</div>
                </div>
            </div>
            <div class="col-sm-3 index-posts">
                <h3 style="font-size: 20px;">Excepteur sint.</h3>
                <div style="margin-bottom: 80%; font-size: 14px;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</div>
                <div class="row">
                    <div class="col-sm-4" style="font-size: 16px;"><img src="../static/favorite-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">120</div>
                    <div class="col-sm-4" style="font-size: 16px;"><img src="../static/comment-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">20</div>
                    <div class="col-sm-4" style="font-size: 16px;">SHARE</div>
                </div>
            </div>
            <div class="col-sm-3 index-posts">
                <h3 style="font-size: 20px;">Excepteur sint.</h3>
                <div style="margin-bottom: 80%; font-size: 14px;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</div>
                <div class="row">
                    <div class="col-sm-4" style="font-size: 16px;"><img src="../static/favorite-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">120</div>
                    <div class="col-sm-4" style="font-size: 16px;"><img src="../static/comment-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">20</div>
                    <div class="col-sm-4" style="font-size: 16px;">SHARE</div>
                </div>
            </div>
            <div class="col-sm-3 index-posts">
                <h3 style="font-size: 20px;">Excepteur sint.</h3>
                <div style="margin-bottom: 80%; font-size: 14px;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</div>
                <div class="row">
                    <div class="col-sm-4" style="font-size: 16px;"><img src="../static/favorite-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">120</div>
                    <div class="col-sm-4" style="font-size: 16px;"><img src="../static/comment-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">20</div>
                    <div class="col-sm-4" style="font-size: 16px;">SHARE</div>
                </div>
            </div>
            <div class="col-sm-3 index-posts">
                <h3 style="font-size: 20px;">Excepteur sint.</h3>
                <div style="margin-bottom: 80%; font-size: 14px;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</div>
                <div class="row">
                    <div class="col-sm-4" style="font-size: 16px;"><img src="../static/favorite-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">120</div>
                    <div class="col-sm-4" style="font-size: 16px;"><img src="../static/comment-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">20</div>
                    <div class="col-sm-4" style="font-size: 16px;">SHARE</div>
                </div>
            </div>
            <div class="col-sm-3 index-posts">
                <h3 style="font-size: 20px;">Excepteur sint.</h3>
                <div style="margin-bottom: 80%; font-size: 14px;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</div>
                <div class="row">
                    <div class="col-sm-4" style="font-size: 16px;"><img src="../static/favorite-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">120</div>
                    <div class="col-sm-4" style="font-size: 16px;"><img src="../static/comment-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">20</div>
                    <div class="col-sm-4" style="font-size: 16px;">SHARE</div>
                </div>
            </div>

        </div>
        </div>  -->
    <br>

    <div class="container" style="background-color: #333052; padding: 8%;">
        <h3 style="font-size: 52px; color: #2699FB; text-align: center;">Team Member</h3>
        <div class="row">
            <div class="col-sm-4" style="padding: 5%;">
                <div style="text-align: center;"><img src="{% static 'img/ali.jpg' %}" style="width: 80%; height: auto; border-radius: 50%;"></div>
                <h3 style="font-size: 24px; color: #2699FB;">Name Surname</h3>
                <div style="font-size: 11px; color: #2699FB;">CO-FOUNDER & CTO</div>
                <div style="font-size: 14px; color: #2699FB;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore.</div>
            </div>
            <div class="col-sm-4" style="padding: 5%;">
                <div style="text-align: center;"><img src="{% static 'img/hamid.jpg' %}" style="width: 80%; height: auto; border-radius: 50%;"></div>
                <h3 style="font-size: 24px; color: #2699FB;">Name Surname</h3>
                <div style="font-size: 11px; color: #2699FB;">CO-FOUNDER & CTO</div>
                <div style="font-size: 14px; color: #2699FB;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore.</div>
            </div>
            <div class="col-sm-4" style="padding: 5%;">
                <div style="text-align: center;"><img src="{% static 'img/arman.jpg' %}" style="width: 80%; height: auto; border-radius: 50%;"></div>
                <h3 style="font-size: 24px; color: #2699FB;">Name Surname</h3>
                <div style="font-size: 11px; color: #2699FB;">CO-FOUNDER & CTO</div>
                <div style="font-size: 14px; color: #2699FB;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore.</div>
            </div>
        </div>
    </div>

    
            <div class="container" style="padding: 0%; margin-top: 2%; margin-bottom: 2%;" >
                
                <img class="cover " src="{% static 'img/kara-sequenceOne(final).gif' %}" alt="Platograph-gif" >
                
                
            </div>
    







{% endblock %}


{% block script%}
 $(".like-dislike-btn").click(function(e){
      e.preventDefault()
      var id = $(this).attr("data-pk")
      $('#like-icon-' + id).attr("class", "fa fa-spinner fa-spin")

      var url = $(this).attr("href")
      $.ajax({
        url: url,
        success: function(s) {
          if(s.status==true){
            $('#like-icon-' + id).attr("class", "fas fa-heart");
            $('#like-count-' + id).html(s.likes);
            if (s.user_in_likes){ $('#like-icon-' + id).css('color', 'red')}
            else{                 $('#like-icon-' + id).css('color', 'white')}
          }
          else if(s.status == 'not_login'){
            $('#like-icon-' + id).attr("class", "fas fa-heart");
            show_alert_message("you must login first.", 'danger')}
          else{console.log('e2')}
        },
        error: function(error) {
          console.log('e1');
          $('#like-icon-' + id).attr("class", "fas fa-heart");
        }
      })
    })


{% endblock %}
