{% load static %}
{% load cart_tag %}

        <!DOCTYPE html>
        <html>
        <head>
            <title>سبد خرید</title>
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick-theme.css' %}">
        </head>
        <body style="background: rgb(204, 106, 57);">
            <div class="container main-section">
                <div class="row">
                    <div class="col-lg-12 pb-2">
                        <h4  style="text-align:right;">سبد خرید</h4>
                    </div>
                    <div class="col-lg-12 pl-3 pt-3">
                        <table class="table table-hover bg-light">
                            <thead>
                                  <tr>
                                    <th>محصول</th>
                                    <th>قیمت</th>
                                    <th>درصد تخفیف</th>
                                    <th style="width:10%;">تعداد</th>
                                    <th>قیمت نهایی</th>
                                   
                                  </tr>
                            </thead>
                            <tbody>
                                {% for key,value in request.session.cart.items %}
                                  <tr>
                                    <td style="width:50%">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 mb-2 mb-md-0 Product-img">
                                                <img src="{{value.image}}" alt="..." class="img-responsive"/>
                                            </div>
                                            <div class="col-lg-10">
                                                <h4 class="nomargin">کتاب {{value.name}}</h4>
                                                <p>{{value.author}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td> {{value.price}} </td>
                                    <td> {{value.percent}} </td>
                                    <td data-th="Quantity">
                                        {% comment %} <input type="number" class="form-control text-center" value="{{value.quantity}}"> {% endcomment %}
                                        <a href="{% url 'gallery:item_increment' value.product_id %}" style="margin:8px; color: black">+</a>
                                        {{value.quantity}}
                                        {% if value.quantity > 1 %}
                                        <a href="{% url 'gallery:item_decrement' value.product_id %}" style="margin:8px; color:black">-</button></a>
                                        {% endif %}
                                        <a href="{% url 'gallery:item_clear' value.product_id %}" style="margin:8px; color:red">حذف</button></a>
                                        
                                    </td>
                                    <td>{{ value.new_price|multiply:value.quantity }}</td>
                                    
                                  </tr>
                                {% endfor %}




                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><a href="{% url 'gallery:index' %}" class="btn btn-warning text-white"><i class="fa fa-angle-left"></i> ادامه خرید</a></td>
                                    <td colspan="2" class="hidden-xs"><strong>قیمت کل:{{sum_price}} </strong></td>
                                    

                                    <td class="hidden-xs text-center" style="width:10%;"><a href="#" class="btn btn-success btn-block">انتقال به درگاه <i class="fa fa-angle-right"></i></a></td>
                                </tr>
                            </tfoot>
                            {% comment %} <a href="{% url 'gallery:cart_detail' %}">clear all</a> {% endcomment %}
                        </table>
                    </div>
                </div>
            </div>
        </body>
        </html>
        