{% extends 'base.html' %}
{% load static %}
{% block main %}

<div class="container vertical-menu">
    <div style="margin-top: 30%; font-size: 10px;"><a style="color: white;" href="#">MD</a></div><br>
    <div style="margin-top: 20%; font-size: 10px;"><a style="color: white;" href="#">SIGN OUT</a></div><br>
    <div style="margin-top: 20%; font-size: 10px;"><a style="color: white;" href="#">NEW POST</a></div><br>

</div>

<div class="container vertical-menu-responsive">
    <a style="color: white;" href="#">MD</a>
    <a style="color: white; margin-left:10%" href="#">SIGN OUT</a>
    <a style="color: white; margin-left:10%" href="#">NEW POST</a>

</div>

<div class="container Dashboard">
    <div class="row ">
        <div class="col-sm-4 index-posts">
            <h3 style="font-size: 20px;">Excepteur sint.</h3>
            <div style="margin-bottom: 80%; font-size: 14px;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</div>
            <div class="row">
                <div class="col-sm-4" style="font-size: 16px;"><img src="/favorite-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">120</div>
                <div class="col-sm-4" style="font-size: 16px;"><img src="/comment-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">20</div>
                <div class="col-sm-4" style="font-size: 16px;">SHARE</div>
            </div>
        </div>
        <div class="col-sm-4 index-posts">
            <h3 style="font-size: 20px;">Excepteur sint.</h3>
            <div style="margin-bottom: 80%; font-size: 14px;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</div>
            <div class="row">
                <div class="col-sm-4" style="font-size: 16px;"><img src="/favorite-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">120</div>
                <div class="col-sm-4" style="font-size: 16px;"><img src="/comment-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">20</div>
                <div class="col-sm-4" style="font-size: 16px;">SHARE</div>
            </div>
        </div>
        <div class="col-sm-4 index-posts">
            <h3 style="font-size: 20px;">Excepteur sint.</h3>
            <div style="margin-bottom: 80%; font-size: 14px;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</div>
            <div class="row">
                <div class="col-sm-4" style="font-size: 16px;"><img src="/favorite-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">120</div>
                <div class="col-sm-4" style="font-size: 16px;"><img src="/comment-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">20</div>
                <div class="col-sm-4" style="font-size: 16px;">SHARE</div>
            </div>
        </div>
        <div class="col-sm-4 index-posts">
            <h3 style="font-size: 20px;">Excepteur sint.</h3>
            <div style="margin-bottom: 80%; font-size: 14px;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</div>
            <div class="row">
                <div class="col-sm-4" style="font-size: 16px;"><img src="/favorite-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">120</div>
                <div class="col-sm-4" style="font-size: 16px;"><img src="/comment-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">20</div>
                <div class="col-sm-4" style="font-size: 16px;">SHARE</div>
            </div>
        </div>
        <div class="col-sm-4 index-posts">
            <h3 style="font-size: 20px;">Excepteur sint.</h3>
            <div style="margin-bottom: 80%; font-size: 14px;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</div>
            <div class="row">
                <div class="col-sm-4" style="font-size: 16px;"><img src="/favorite-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">120</div>
                <div class="col-sm-4" style="font-size: 16px;"><img src="/comment-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">20</div>
                <div class="col-sm-4" style="font-size: 16px;">SHARE</div>
            </div>
        </div>
        <div class="col-sm-4 index-posts">
            <h3 style="font-size: 20px;">Excepteur sint.</h3>
            <div style="margin-bottom: 80%; font-size: 14px;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</div>
            <div class="row">
                <div class="col-sm-4" style="font-size: 16px;"><img src="/favorite-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">120</div>
                <div class="col-sm-4" style="font-size: 16px;"><img src="/comment-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">20</div>
                <div class="col-sm-4" style="font-size: 16px;">SHARE</div>
            </div>
        </div>
        <div class="col-sm-4 index-posts">
            <h3 style="font-size: 20px;">Excepteur sint.</h3>
            <div style="margin-bottom: 80%; font-size: 14px;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</div>
            <div class="row">
                <div class="col-sm-4" style="font-size: 16px;"><img src="/favorite-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">120</div>
                <div class="col-sm-4" style="font-size: 16px;"><img src="/comment-white-24dp.svg" style="width: 20px;height:auto; margin-right: 10px;">20</div>
                <div class="col-sm-4" style="font-size: 16px;">SHARE</div>
            </div>
        </div>

    </div>
</div><br>

{% endblock %}